.sidebar-pane-component{
    z-index: 500;
    overflow-y: auto; 
}
.leaflet-sidebar-component {
    position: absolute;
    top: 0 !important;
    bottom: 0;
    width: 420px;
    max-width: 80%;
    height: 100%;
    z-index: 500;
    background: #fff;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
  }
  .sidebar-content {
    flex: 1; /* Take all available space */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 1rem; /* Optional: padding for some space inside the content */
    
}