.cMapMain  {
  position: absolute;
  left: 26.4rem;
  top: 0.1rem;
  z-index: 2000;
}
.imageContainer{
  margin:1rem;
}

/* Information Tab Styles */
.informacionItem {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}

.informacionItemTitle {
  margin: 0 0 20px 0;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 2px solid #4B9CD3;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  color: #333;
}

.colorIndicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
  border: 1px solid #000;
}

.informacionContent {
  margin-left: 20px;
}

.documentTitle {
  font-size: 16px;
  color: #333;
  padding-left: 10px;
}

.documentList {
  list-style-type: none; 
  padding-left: 0;
}

.documentItem {
  margin-bottom: 8px;
  list-style: none;
  background-color: #f9f9f9;
  transition: transform 0.2s ease;
  border-style: none;
  border: none;
}

.documentItem:hover {
  transform: translateY(-2px);
}

.documentLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #0066cc;
  font-weight: 500;
}

.documentIcon {
  margin-right: 8px;
  font-size: 16px;
  color: #D54B0E;
}

.link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use the parent element's text color */
  display: flex; /* Align icon and text horizontally */
  align-items: center; /* Center icon and text vertically */
  gap: 8px; /* Add space between icon and text */
  background-color: #ffffff;
}

.link:hover {
  color: #007bff; /* Add hover color */
}

.dataAnalysisMenu {
  display: flex;
  flex-flow: column;
  max-height: calc(100vh - 70px);
  width: 30.125rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
  background: #fff;
  transition: transform .3s linear;
  position: relative;
  z-index: 1;
}

.tabHeader {
  display: flex;
  background: #333;
}

.tabLink {
  flex: 1;
  padding: 1rem;
  text-align: center;
  color: black;
  background: #7a7a7a;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.tabLink.active {
  background: #FFFFFF;
}

.tabContent {
  flex-grow: 1;
  overflow-y: auto;
  border: none;
  border: 0;
}

.tabPane {
  display: none;
}

.tabPane.active {
  display: block;
}

.chartContainer {
  text-align: center;
  margin: 1rem 0;
}

.gridContainer {
  .MuiDataGrid-root {
    border: 1px solid #ddd;
  }
  
  .MuiDataGrid-cell {
    border-bottom: 1px solid #ddd;
  }
  .MuiDataGrid-columnSeparator {
    display: none; /* Hide the column separator */
  }
}

.gridContainer {
  height: 100%; /* Ensure the container takes up 100% of its parent */
  display: flex;
  flex-direction: column;
}

.dataGrid {
  flex: 1; /* Allow DataGrid to grow and fill the container */
  height: 100%;
}
.coordenadas-cell {
  white-space: pre-line; /* Ensures line breaks are respected */
}
.draggableHandle {
  display: flex;
  justify-content: end;
  cursor: move;
  background-color: #fff;
  padding: 0.1rem;
}

.minimizeButton {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 0.5rem;
  padding: 0;
  font-size: 1.8rem; /* Increased font size for larger icons */
  font-family: monospace; /* Ensuring consistent width */
  width: 2.4rem; /* Adjusted width for a larger button */
  height: 1.2rem; /* Adjusted height for a larger button */
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
}

.minimizeButton:hover {
  color: darkgrey;
}