.logoContainer {
    text-align: center;
    margin: 0 auto;
  }
  .descriptionContainer {
    text-align: left; /* Align text to the left */
    font-size: 1rem; /* Set a readable font size */
    line-height: 1.6; /* Improve line spacing for readability */
    color: black; /* Use a subtle text color */
    margin-bottom: 1.5rem; /* Add some space below the text */
    padding: 1rem; /* Add padding for a cleaner layout */
  
   
  }