html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100vh;
  width: 100%;
}

.map-container {
  width: 95vw;
  height: 95vh;
  margin: 0 auto;
}

.leaflet-container {
  touch-action: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}